<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">CarRide Registration Form</div>
        <div class="panel-body padding">
            <form [formGroup]="registerForm" (ngSubmit)="addRide()">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="name">
                    <p *ngIf="registerForm.controls.name.errors" class="alert alert-danger">This is filed is required
                    </p>
                </div>

                <div class="form-group">
                    <label>Start Location</label>
                    <input type="text" class="form-control" formControlName="pickup">
                    <p *ngIf="registerForm.controls.pickup.errors" class="alert alert-danger">This is filed isrequired</p>
                </div>

                <div class="form-group">
                    <label>Destination</label>
                    <input type="text" class="form-control" formControlName="destination" required>
                    <p *ngIf="registerForm.controls.destination.errors" class="alert alert-danger">This is filed is
                        required</p>
                </div>

                <div class="form-group">
                    <label>Car</label>
                    <input type="text" class="form-control" formControlName="car">
                    <p *ngIf="registerForm.controls.car.errors" class="alert alert-danger">This is filed is required</p>
                </div>

                <div class="form-group">
                    <label>Seats Available</label>
                    <input type="number" class="form-control" formControlName="seatsLeft" required>
                    <p *ngIf="registerForm.controls.seatsLeft.errors?.required" class="alert alert-danger">This is
                        filed is required</p>
                    <p *ngIf="registerForm.controls.seatsLeft.errors?.invalidSeats" class="alert alert-danger">
                        {{registerForm.controls.Seats_Available.errors?.invalidSeats}}</p>
                </div>
                <div class="form-group">

                    <span class="">
                        <button class="btn btn-primary" [disabled]="!registerForm.valid" type="submit">Submit</button>
                        <a class="btn btn-primary" [routerLink]='["/book-ride"]'>Go Back</a>
                    </span>

                </div>
                <div class="form-group">
                    <p class="text-success text-center">{{successMsg}}</p>
                </div>
            </form>
        </div>
    </div>
</div>