
  <nav class="navbar navbar-default navbar-fixed-top">
   <div class="container-fluid">
      <div class='navbar-header'>
        <label class="navbar-brand" href="#">MovieTicketBooking</label>
      </div>
      <div class="col-4 text-right" style="padding-right: 0px;">
        <div class="dropdown-menu">
          <a class="nav-" href="#">Benguluru</a>
          <a class="dropdown-item active" href="#">Chennai</a>
        </div>
      </div>
      
    </div>
  </nav>
  <app-login></app-login>